body {
    background-color: #f0f0f0; /* світло-сірий колір тла сторінки */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

.section-red {
    background-color: #ff4500; /* червоний колір фону першої секції */
    color: #fff; /* білий колір тексту в першій секції */
    padding: 20px;
    border-radius: 10px;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #fff; /* білий колір фону кнопок */
    color: #ff4500; /* червоний колір тексту кнопок */
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #ff4500; /* змінює колір фону при наведенні */
    color: #fff; /* змінює колір тексту при наведенні */
}
